<div class="container overflow-scroll mh-75 p-3"> 
  <div class="list-group dash-list">
    
    <% if @widgets.present? %>
    <% @widgets.each do |w| %> 
    <a href="<%= widget_path(w) %> " class="list-group-item dash-list-item">
      <h3 class="list-group-item-heading"><%= w.name %></h3>
      <p class="list-group-item-text"><%= w.message %></p>
    </a>
    <% end %> 
    <% end %> 

  </div>
</div>
