

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Quick and easy alert banners</h1>
    
    
    <p class="lead">Postdat allows you to build and manage pop up alerts or notices, without a web developer.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary" data-bs-toggle="modal" data-bs-target="#learnModal">Learn more</a>
    </p>
  </main>


<!-- Modal -->
<div class="modal fade" id="learnModal" tabindex="-1" aria-labelledby="learnModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-black">How it works</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img class="img-responsive d-block w-100" src="https://res.cloudinary.com/designs-9th/image/upload/v1642346949/Screenshot_2022-01-16_at_09-28-24_Rivo_nga4fc.png" />
        
        <p class="py-2 text-black">
          
          1. Create widget banner <br>
          2. Copy embed script and place it within the body of your website  <br>
          3. Toggle the widget active on your home dashboard
          
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
